@use "functions" as fnc;

.app {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.display_wrapper {
  display: flex;
  gap: 1rem;
}

.break,
.break-timer,
.session,
.session-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fnc.rem(343);
  min-height: fnc.rem(534);
  border-radius: fnc.rem(11);
  color: var(--color-bg);
  background-color: var(--color-100);
  padding: 1rem;
}

.session {
  transform: rotate(2deg);
}

.break {
  transform: rotate(-2deg);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  font-family: var(--font);
  color: var(--color-bg);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 350ms ease-in-out;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    path {
      transition: all 350ms ease-in-out;
    }
  }

  &:hover {
    color: var(--color-400);
    svg path {
      fill: var(--color-400);
    }
  }
}

.button-top {
  align-self: flex-start;
}

.button-bottom {
  align-self: flex-end;
  svg {
    transform: rotate(180deg);
  }
}

.break-timer,
.session-timer {
  transition: all 350ms ease-in-out;

  .button-top,
  .button-bottom {
    &:hover {
      color: orange;
      svg path {
        fill: orange;
      }
    }
  }

  .button-top {
    color: var(--color-400);
    svg {
      transform: rotate(-90deg);
    }
  }

  .button-bottom {
    color: var(--color-400);
    svg {
      transform: rotate(90deg);
    }
  }

  .text-wrapper {
    border: fnc.rem(3) solid var(--color-400);
    color: var(--color-400);
    transition: background-color 250ms ease-in-out;

    &.alert {
      background-color: var(--color-400);
      color: var(--color-100);
    }
  }
}

.session-timer {
  transform: rotate(-3deg);
  z-index: 1;
  box-shadow: 0px 0px 6px 4px rgb(0 0 0 / 16%);
}

.break-timer {
  transform: rotate(3deg);
  z-index: 1;
  box-shadow: 0px 0px 6px 4px rgb(0 0 0 / 16%);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 88%;
  width: 70%;
  border: fnc.rem(3) solid var(--color-bg);
  border-radius: fnc.rem(11);
}

.header {
  font-size: 1rem;
  text-transform: capitalize;
}

.text {
  font-size: 4rem;
  font-weight: bold;
}
